@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');



*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding : 0 ;
    box-sizing: border-box;
    outline: none; border:  none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 63%;
overflow-x: hidden;
scroll-padding-top: 3rem;
scroll-behavior: smooth;
}
body{
    background: rgb(228, 228, 230);
  

}


.header {
    width: 100%;
    background-size: cover;
    align-items: center;
    padding: 0.2rem ;
    position : fixed ;
    background: #b8c1ec;
    box-shadow: #0a0a0a;
}



.logo {
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: rgb(2, 1, 17);
}

.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
    letter-spacing: 4px;
    word-spacing: 10px;
    text-decoration:none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #dddddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: #86b7a5;
    color: white;
  }
  
  .navbar .icon {
    display: none;
    color: #dddddd;
  }
  
  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
    .section1 .container .footer .copyright{
      float: none;
      display: block;
    }
    .intro .set-1, .tool .set-1{
      float: none;
      display: block;
    }
    
  }
  
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }





.Resister-btn{
    font-family: 'Big Shoulders Text';
    font-size: 1.5rem;
    color: #242222;
    background-color:#5f4793;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    letter-spacing: 2px;
    border-radius: 2px;
}




.section1{
  margin-top: 4rem;
  font-size: 1.5rem;
}
.mt-5{
  margin-top: 5rem;
}
.heading{
  text-align: center;
}
.heading h4{
  font-size: 1.7rem;
  color: #232946;

}

.section1 .feature-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0px 30px;
  margin-top: 2rem;
}



.set-1{
  margin-top: 5rem;
  font-size: 1.5rem;
}
.heading{
  text-align: center;
}
.heading h4{
  font-size: 2.7rem;
  color: #2f327d;
}
.heading h4 span{
  color:#f64a64 ;
}
.heading p{
  color: #6b7280;
  margin-top: 1rem;
  padding: 0% 15%;
}
.text-white{
  color: #fff;
}
.feature .feature-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0px 30px;
  margin-top: 2rem;
}
.feature-card .card{
  padding: 30px 30px;
  text-align: center;
  border: 1px solid #686565;
  width: 230px;
  
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.feature-card .card:hover{
  background-color: #f3f0eced;
}
.feature-card .card svg{
  width: 50px;
  height: 50px;
}


.feature-card .card h4{
  color: #2f327d;
  font-weight: 600;
  font-size: 20px;}

.feature-card .card p{
  color: #5c626e;
  font-size: 1.5rem;
}


.tool .main{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 30px;
}
.content{
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content h4{
  font-weight: 600;
  color: #2f327d;
  font-size: 30px;
}
.content span{
  color: #f64a64;
}
.content p{
  color: #6b7280;
}
.img img{
  width: 500px;
}

.test .main{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.test .img img{
  width: 400px;
}

.tool .main{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container{
  color: #2f327d;
  background: #b8c1ec;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}
.row-flex {
  display: flex;
  flex-direction: row;
  
}

.flex-column-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 30px 20px;
}

.opening-time,
.contact-address {
  flex: 1;
  margin: 30px 20px;
  font-size: 1.2em;
}

.form-group p {
  font-size: 1.2em;
}

.opening-time p span,
.contact-address p span {
  display: block;
}


.footer {
    background-color: #425567;
    text-align: center;
    padding: 30px 20px;
}
.privacy a{
  color: #9ca3af;
  text-decoration: none;
  font-size: 13px;
  padding:0px 10px;
}
.privacy a:nth-child(1),.privacy a:nth-child(2){
  border-right: 1px solid #9ca3af;
}
.copyright p{
  color: #9ca3af;
  font-size: 13px;
  margin-top: 1rem;
}
